//========================================================================================================================================================
// Faq
.faq {
	&__top {
		@media (max-width: 767.98px) {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
		.top__title {
			@media (max-width: 767.98px) {
				&:first-child {
					display: none;
				}
			}
			@media (min-width: 767.98px) {
				&:nth-child(2) {
					display: none;
				}
			}
		}
	}
}
//========================================================================================================================================================
