//========================================================================================================================================================
// Profits
.profits {
	z-index: 1;
	position: relative;
	&:not(:last-child) {
		margin-bottom: 130px;
	}
	@media (max-width: 991.98px) {
		&:not(:last-child) {
			margin-bottom: 70px;
		}
	}
	@media (max-width: 767.98px) {
		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}
	&__container {
	}
	&__top {
	}
	&__input {
		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}
	&__components {
	}
	&__button {
		display: flex;
		margin: 0 auto;
		position: relative;
		align-items: center;
		justify-content: center;
		&::before {
			left: 27px;
			content: "";
			width: 26px;
			height: 33px;
			position: absolute;
			background-image: url("../../assets/Icons/withdraw.svg");
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
		@media (max-width: 1110px) {
			&::before {
				display: none;
			}
		}
	}
}
.input-profits {
	gap: 15px;
	display: flex;
	margin: 0 auto;
	align-items: center;
	&__clicker {
		width: 25px;
		height: 60px;
		padding: 3px 0px;
		position: relative;
		border-radius: 18px;
		border: 1px solid #4b4c60;
		background: linear-gradient(180deg, rgba(62, 64, 66, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
		box-shadow:
			0px 0px 0px 0px rgba(0, 0, 0, 0.3),
			0px 33px 73px 0px rgba(0, 0, 0, 0.29),
			0px 132px 132px 0px rgba(0, 0, 0, 0.26),
			0px 297px 178px 0px rgba(0, 0, 0, 0.15),
			0px 528px 211px 0px rgba(0, 0, 0, 0.04),
			0px 825px 231px 0px rgba(0, 0, 0, 0.01);
		span {
			left: 0;
			right: 0;
			top: 2px;
			content: "";
			width: 19px;
			height: 19px;
			margin: 0 auto;
			border-radius: 50%;
			position: absolute;
			background-color: #2040ae;
			transition: all 0.3s ease 0s;
		}
		&.clicker-active {
			span {
				top: 37px;
			}
		}
	}
	&__titles {
		text-align: left;
	}
	&__title {
		&:not(:last-child) {
			margin-bottom: 8px;
		}
		color: #535353;
		font-size: 18px;
		line-height: normal;
		transition: color 0.3s ease 0s;
		&.title-active {
			color: #ffffff;
		}
	}
}
//--------------------------------------------------------------
.components-profits {
	position: relative;
	&:not(:last-child) {
		margin-bottom: 60px;
	}
	::-webkit-scrollbar:horizontal {
		display: none;
	}
	@media (max-width: 767.98px) {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
	@media (min-width: 991.98px) {
		&::before {
			content: "";
			width: 100%;
			height: 591px;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			z-index: -1;
			position: absolute;
			border-radius: 20px;
			background: rgba(#111, 0.4);
			box-shadow:
				0px 0px 0px 0px rgba(0, 0, 0, 0.3),
				0px 33px 73px 0px rgba(0, 0, 0, 0.29),
				0px 132px 132px 0px rgba(0, 0, 0, 0.26),
				0px 297px 178px 0px rgba(0, 0, 0, 0.15),
				0px 528px 211px 0px rgba(0, 0, 0, 0.04),
				0px 825px 231px 0px rgba(0, 0, 0, 0.01);
		}
	}
	&__body {
		overflow-x: auto;
		&:not(:last-child) {
			margin-bottom: 60px;
		}
		@media (max-width: 991.98px) {
			margin-right: -100px;
			margin-left: -100px;
			padding-right: 100px;
			padding-left: 100px;
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
		@media (max-width: 479.98px) {
			margin-right: -15px;
			margin-left: -15px;
			padding-right: 15px;
			padding-left: 15px;
		}
	}
	&__top {
		@media (max-width: 991.98px) {
			width: 1200px;
		}
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
	&__elements {
		@media (max-width: 991.98px) {
			width: 1200px;
		}
	}
	&__icon {
		display: flex;
		margin: 0 auto;
		justify-content: center;
		&:not(:last-child) {
			margin-bottom: 15px;
		}
		@media (max-width: 991.98px) {
			margin-top: -500px;
		}
		@media (min-width: 991.98px) {
			display: none;
		}
	}
	&__bottom {
	}
}
// $=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=->
.top-components__body,
.elements-components__items {
	display: grid;
	padding: 20px 0px;
	border-radius: 18px;
	border: 1px solid #4b4c60;
	grid-template-columns: repeat(4, 1fr);
}
.top-components__item,
.elements-components__item {
	display: flex;
	height: 40px;
	font-size: 18px;
	font-weight: 800;
	line-height: normal;
	align-items: center;
	position: relative;
	justify-content: center;
	&::before {
		top: 0;
		right: 0;
		width: 100%;
		content: "";
		height: 100%;
		position: absolute;
		background-repeat: no-repeat;
		background-image: url("../../assets/Icons/lines.svg");
	}
	&:first-child {
		&::before {
			display: none;
		}
	}
}
// $=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=->
.top-components {
	&__body {
		padding-right: 20px;
		background: linear-gradient(180deg, rgba(62, 64, 66, 0.3) 0%, rgba(0, 0, 0, 0.3) 70%);
	}
	&__item {
		color: #2040ae;
	}
}
.elements-components {
	::-webkit-scrollbar {
		width: 6px;
		border-radius: 42px;
		border: 1px solid #4b4c60;
		background: linear-gradient(180deg, rgba(62, 64, 66, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
		box-shadow:
			0px 0px 0px 0px rgba(0, 0, 0, 0.3),
			0px 33px 73px 0px rgba(0, 0, 0, 0.29),
			0px 132px 132px 0px rgba(0, 0, 0, 0.26),
			0px 297px 178px 0px rgba(0, 0, 0, 0.15),
			0px 528px 211px 0px rgba(0, 0, 0, 0.04),
			0px 825px 231px 0px rgba(0, 0, 0, 0.01);
	}
	::-webkit-scrollbar-thumb {
		border-radius: 50px;
		border: 1px solid #4b4c60;
		background: #2040ae;
		box-shadow:
			0px 0px 0px 0px rgba(0, 0, 0, 0.3),
			0px 33px 73px 0px rgba(0, 0, 0, 0.29),
			0px 132px 132px 0px rgba(0, 0, 0, 0.26),
			0px 297px 178px 0px rgba(0, 0, 0, 0.15),
			0px 528px 211px 0px rgba(0, 0, 0, 0.04),
			0px 825px 231px 0px rgba(0, 0, 0, 0.01);
	}
	&__body {
		height: 490px;
		overflow: hidden;
		overflow-y: auto;
		border-radius: 18px;
		padding-right: 14px;
		@media (max-width: 991.98px) {
			margin-bottom: 500px;
			background: rgba(0, 0, 0, 0.2);
			box-shadow:
				0px 0px 0px 0px rgba(0, 0, 0, 0.3),
				0px 33px 73px 0px rgba(0, 0, 0, 0.29),
				0px 132px 132px 0px rgba(0, 0, 0, 0.26),
				0px 297px 178px 0px rgba(0, 0, 0, 0.15),
				0px 528px 211px 0px rgba(0, 0, 0, 0.04),
				0px 825px 231px 0px rgba(0, 0, 0, 0.01);
		}
	}
	&__items {
		background-color: transparent;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
		border-radius: 18px;
		border: 1px solid #4b4c60;
		background: #212021;
	}
	&__item {
		color: #ffffff;
	}
}
.bottom-components {
	gap: 27px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	&__item {
		display: flex;
		height: 100px;
		text-align: center;
		border-radius: 18px;
		flex-direction: column;
		justify-content: center;
		border: 1px solid #4b4c60;
		background: linear-gradient(180deg, rgba(62, 64, 66, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
	}
	&__title {
		color: #fff;
		font-size: 18px;
		font-weight: 800;
		line-height: normal;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
	&__count {
		color: #a4a4a4;
		font-size: 13px;
		font-weight: 800;
		line-height: normal;
		span {
			color: #2040ae;
			font-size: 25px;
		}
	}
}
//========================================================================================================================================================
